* {
    margin: 0;
    padding: 0;
    /* padding not included in size  */
    box-sizing: border-box;

}

body {
    /* body will take 100% of available viewport space */
    height: 100vh;
    background-color: blue;
}

img {
    width: 100px;
}